body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
  background-color: skyblue;
}

#objProp {
  position: absolute;
  left: 25px;
  top: 40px;
  text-align: left;
}

.sidewindow {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  color: yellow;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  text-align: left;
}

.sidewindow p {
  padding-left: 10px;
}

.sidewindow a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidewindow a:hover {
  color: #f1f1f1;
}

.sidewindow .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*
  #openSide {
    position: absolute;
    left: 5px;
    top: 5px;
    text-align: left;
  }
*/

#openSide {
  position: absolute;
  background-color: darkorange;
  font-size: 36px;
  padding-left: 10px;
  padding-right: 5px;
  cursor: pointer;
}

#openSide a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.file-properties {
  color: #0066ff;
}
